{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href={%static "css/blog.css" %} rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>Liczba postow</h2>
            <p> {%total_posts%} </p>
            <h3>Ostatnio dodane posty</h3>
            {% show_latest_posts 3 %}
        </div>
    </body>
</html>