{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Tytul</title>
        <link href={%static "css/app.css" %} rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="content">
                    <h2>01</h2>
                    <h3>McDonald's</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Error nam nisi possimus sint repudiandae nihil quasi modi nemo 
                        recusandae sequi pariatur, 
                        similique sit quaerat dolore aperiam iste blanditiis aspernatur. Corrupti.</p>
                    <a href="/blog/tag/McDonald/">Oceń produkty</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>02</h2>
                    <h3>KFC</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Error nam nisi possimus sint repudiandae nihil quasi modi nemo 
                        recusandae sequi pariatur, 
                        similique sit quaerat dolore aperiam iste blanditiis aspernatur. Corrupti.</p>
                    <a href="/blog/tag/KFC">Oceń produkty</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>03</h2>
                    <h3>Burger King</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Error nam nisi possimus sint repudiandae nihil quasi modi nemo 
                        recusandae sequi pariatur, 
                        similique sit quaerat dolore aperiam iste blanditiis aspernatur. Corrupti.</p>
                    <a href="/blog/tag/BurgerKing">Oceń produkty</a>
                </div>
            </div>
        </div>
    </body>
</html>