{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Food Lovers</title>
        <link href={%static "css/app.css" %} rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="content">
                    <h3>McDonald's</h3>
                    <p>McDonald's to największa na świecie sieć restauracji szybkiej obsługi.
                         Obejmuje ona ponad 30 tys. restauracji, każdego dnia obsługujących ponad 46 mln osób w 119 krajach.
                    </p>
                    <a href="/blog/tag/McDonald/">Oceń produkty</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h3>KFC</h3>
                    <p>Amerykańska sieć barów szybkiej obsługi z siedzibą w Louisville w stanie Kentucky, 
                        założona 20 marca 1930 roku przez Harlanda Sandersa, 
                        który opracował także zestaw przypraw wykorzystywany do pieczonych kurczaków serwowanych w KFC. 
                    </p>
                    <a href="/blog/tag/KFC">Oceń produkty</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h3>Burger King</h3>
                    <p> Sieć restauracji szybkiej obsługi typu fast food specjalizująca się głównie w burgerach,
                        frytkach, zimnych napojach. Najbardziej znanym produktem jest burger Whopper, 
                        który stał się jednym z symboli popkultury.</p>
                    <a href="/blog/tag/BurgerKing">Oceń produkty</a>
                </div>
            </div>
        </div>
    </body>
</html>